.year-container {
  background-color: aqua;
}
.month-container {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(6, 230px);
  align-items: center;
  padding-left: 20px;
}
.month-report {
  background-color: yellow;
  height: 350px;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.movement-name-container {
  background-color: aquamarine;
  height: 220px;
}
.movement-name,
.month-tot-expense-container,
.month-tot-income-container,
.month-budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  height: 20px;
}
.month-tot-expense-container {
  margin-top: 20px;
}
.header-container {
  margin-bottom: 20px;
}