<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <form class="movement-form" method="post">
      <select name="movement-type">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
      </select>
      <input type="text" name="movementValue" placeholder="Value">
      <input type="text" name="movementScope" placeholder="Scope">
      <input type="date" name="movementDate" placeholder="Date">
      <input type="text" name="movementNotes" placeholder="Notes">  
      <button type="submit">Confirm</button>
    </form>

    <div class="movement-display-container">
    </div>
    
    <script type="module" src="../javascript/main.js"></script>
  </body>
</html>